<div class="nav">
  <%= @site.domain %>: <a href="../">Status</a> | <b><a href="../config">Setup</a></b>
</div>

<h1><img src="/images/<%= @flow.post_kind %>.svg"><%= @flow.name %></h1>

<div>
  <%= Post.description_for_type(@flow.post_kind) %>
</div>

<div>
  <form action="/<%= @site.domain %>/flows" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">
    <div>
      <label for="path-template">
        Path template
      </label>
      <br>
      <input id="path-template" type="text" size="80" name="path_template" value="<%= @flow.path_template %>" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      example: <code>_posts/:year_month/:year-:month-:day-:slug.md</code>
    </div>
    <br>
    <div>
      <label for="url-template">
        URL template
      </label>
      <br>
      <input id="url-template" type="text" size="80" name="url_template" value="<%= @flow.url_template %>" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      example: <code>:year/:month/:day/:slug.html</code>
    </div>
    <br>
    <div>
      <label for="codemirror">
        Content template
      </label>
      <textarea id="codemirror" name="content_template" cols="80" rows="25" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"><%= @flow.content_template %></textarea>
      <div id="vars-desc">
        <%= @flow.post_kind %> variables: (hover for description)
      </div>
      <ul class="template-vars">
      <% Post.variables_for_type(@flow.post_kind).each do |v, desc| %>
        <li title="<%= desc %>"
            onclick="editor.replaceSelection('{{<%= v %>}}'); editor.focus();"
            onmouseover="document.getElementById('vars-desc').innerHTML = '<%= v %> - <%=h desc %>';"
            onmouseout="document.getElementById('vars-desc').innerHTML = '<%= @flow.post_kind %> variables:';"
        ><%= v %></li>
      <% end %>
      </ul>

      example:
      <pre><code>---
date: {{datetime}}
slug: {{slug}}
categories:
- microblog
{{#categories}}
- {{.}}
{{/categories}}
---
{{{content}}}
</code></pre>
    </div>

<% if Post.type_supports_attachments?(@flow.post_kind) %>

    <h2><img src="/images/attachment.svg">Attachments</h2>
    <div>
      <label for="media-path-template">
        Path template
      </label>
      <br>
      <input id="media-path-template" type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>
    <br>
    <div>
      <label for="media-url-template">
        URL template
      </label>
      <input id="media-url-template" type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>

<% end %>

    <br>

    <div class="float-right">
      <a href="../config" class="button button-clear">Cancel</a>
      <a href="<%= @flow.id %>/delete" class="button button-outline">Disable</a>
      <button type="submit" class="button"><%= @flow.new? ? 'Create' : 'Update' %></button>
    </div>
  </form>
</div>

<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/markdown.js"></script>
<script src="/js/codemirror/multiplex.js"></script>
<script src="/js/codemirror/yaml.js"></script>
<script src="/js/codemirror/yaml-frontmatter.js"></script>
<script>
  CodeMirror.defineMode("liquid-markdown", function(config) {
      return CodeMirror.multiplexingMode(
          CodeMirror.getMode(config, "text/markdown"),
          {
              open: "{{",
              close: "}}",
              mode: CodeMirror.getMode(config, "text/x-liquid"),
              delimStyle: "liquid variable variable-2",
              innerStyle: "liquid variable variable-2"
          },
          {
              open: "{%",
              close: "%}",
              mode: CodeMirror.getMode(config, "text/x-liquid"),
              delimStyle: "liquid variable-2 special keyword",
              innerStyle: "liquid variable-2 special keyword"
          }
      );
  });

  var editor = CodeMirror.fromTextArea(document.getElementById("codemirror"), {mode: {name: "yaml-frontmatter", base: "liquid-markdown"}});
</script>
