<div class="nav">
  <%= @site.domain %>: <a href="../">Status</a> | <b><a href="../config">Setup</a></b>
</div>

<h1>
  <img src="/images/file.svg">
  Media
</h1>

<div>
  Files sent to the media endpoint will be saved with this configuration.
</div>

<% if @flow.media_store %>
  <div>
    Saves to <%= @flow.media_store.name %>. <!-- [<a href="<%= "/#{@site.domain}/stores/new?flow_id=#{@flow.id}" %>">Change</a>] -->
  </div>
<% else %>
  <div class="warning">
    No file storage configured. That won't work, will it?
  </div>
<% end %>

<div>
  <form action="/<%= @site.domain %>/flows/media" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">

    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>">
      </label>
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>
    <br>
    <div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>">
      </label>
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>

    <div class="float-right">
      <a href="../config" class="button button-clear">Cancel</a>
      <button type="submit" class="button">Update</button>
    </div>
  </form>
</div>
