<div class="nav">
  <a href="../"><%= @site.domain %></a> | <b><a href="../config">Setup</a></b>
</div>

<h1><%= @flow.name %></h1>

<div>
  <%= Post.description_for_type(@flow.post_kind) %>
</div>

<div>
  <form action="/<%= @site.domain %>/flows" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="path_template" value="<%= @flow.path_template %>">
        <br>
        <small>
          <code>_posts/:year_month/:year-:month-:day-:slug.md</code>
        </small>
      </label>
    </div>
    <br>
    <div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="url_template" value="<%= @flow.url_template %>">
        <br>
        <small>
          <code>:year/:month/:day/:slug.html</code>
        </small>
      </label>
    </div>
    <br>
    <div>
      <label>
        Content template
        <div id="codeflask-editor"></div>
        <textarea id="codeflask-field" name="content_template" cols="80" rows="25" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"><%= @flow.content_template %></textarea>
      </label>
      <br>
      Example:
      <small><pre>
---
date: {{date_time}}
slug: {{slug}}
categories:
- microblog
{{#categories}}
- {{.}}
{{/categories}}
---
{{{content}}}
</pre></small>
      Available {{variables}}:
      <ul>
      <% Post.variables_for_type(@flow.post_kind).each do |v, desc| %>
        <li title="<%= desc %>">{{<%= v %>}}</li>
      <% end %>
      </ul>
    </div>

    <h2>Attachments</h2>
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>">
        <br>
        <small>
          <code>assets/:year_month/:day-:slug.:extension</code>
        </small>
      </label>
    </div><div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>">
        <br>
        <small>
          <code>assets/:year_month/:day-:slug.:extension</code>
        </small>
      </label>
    </div>

<!--
    <h2>Webmentions</h2>
    <div>
      <label><input type="checkbox" name="allow_meta" value="true"<%= ' checked' if @flow.allow_meta %>>Handle metadata pings?</label>
    </div>
-->
    <div>
      <button type="submit">Update</button>
    </div>
    <div>
      [<a href="<%= @flow.id %>/delete">Remove</a>]
    </div>
  </form>
</div>

<script src="/js/codeflask.min.js"></script>
<script>
  const flask = new CodeFlask('#codeflask-editor', { language: 'markup' });
  const flaskField = document.getElementById('codeflask-field');
  console.log(flask);

  flask.addLanguage('liquid', {
  	'keyword': /\b(?:comment|endcomment|if|elsif|else|endif|unless|endunless|for|endfor|case|endcase|when|in|break|assign|continue|limit|offset|range|reversed|raw|endraw|capture|endcapture|tablerow|endtablerow)\b/,
  	'number': /\b0b[01]+\b|\b0x[\da-f]*\.?[\da-fp-]+\b|(?:\b\d+\.?\d*|\B\.\d+)(?:e[+-]?\d+)?[df]?/i,
  	'operator': {
  		pattern: /(^|[^.])(?:\+[+=]?|-[-=]?|!=?|<<?=?|>>?>?=?|==?|&[&=]?|\|[|=]?|\*=?|\/=?|%=?|\^=?|[?:~])/m,
  		lookbehind: true
  	},
  	'function': {
  		pattern: /(^|[\s;|&])(?:append|prepend|capitalize|cycle|cols|increment|decrement|abs|at_least|at_most|ceil|compact|concat|date|default|divided_by|downcase|escape|escape_once|first|floor|join|last|lstrip|map|minus|modulo|newline_to_br|plus|remove|remove_first|replace|replace_first|reverse|round|rstrip|size|slice|sort|sort_natural|split|strip|strip_html|strip_newlines|times|truncate|truncatewords|uniq|upcase|url_decode|url_encode|include|paginate)(?=$|[\s;|&])/,
  		lookbehind: true
  	}
  });
  flask.updateCode(flaskField.value);
  flask.onUpdate((code) => {
    flaskField.value = code;
  });
  flaskField.style.display = 'none';
</script>
