<div class="nav">
  <a href="../"><%= @site.domain %></a> | <b><a href="../config">Setup</a></b>
</div>

<h1><%= @flow.name %></h1>

<div>
  <%= Post.description_for_type(@flow.post_kind) %>
</div>

<div>
  <form action="/<%= @site.domain %>/flows" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="path_template" value="<%= @flow.path_template %>">
        <br>
        <small>
          <code>_posts/:year_month/:year-:month-:day-:slug.md</code>
        </small>
      </label>
    </div>
    <br>
    <div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="url_template" value="<%= @flow.url_template %>">
        <br>
        <small>
          <code>:year/:month/:day/:slug.html</code>
        </small>
      </label>
    </div>
    <br>
    <div>
      <label>
        Content template
        <br>
        <textarea id="editor" name="content_template" cols="80" rows="25"><%= @flow.content_template %></textarea>
      </label>
      <br>
      Example:
      <small><pre>
---
date: {{date_time}}
slug: {{slug}}
categories:
- microblog
{{#categories}}
- {{.}}
{{/categories}}
---
{{{content}}}
</pre></small>
      Available {{variables}}:
      <ul>
      <% Post.variables_for_type(@flow.post_kind).each do |v, desc| %>
        <li title="<%= desc %>">{{<%= v %>}}</li>
      <% end %>
      </ul>
    </div>

    <h2>Attachments</h2>
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>">
        <br>
        <small>
          <code>assets/:year_month/:day-:slug.:extension</code>
        </small>
      </label>
    </div><div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>">
        <br>
        <small>
          <code>assets/:year_month/:day-:slug.:extension</code>
        </small>
      </label>
    </div>

<!--
    <h2>Webmentions</h2>
    <div>
      <label><input type="checkbox" name="allow_meta" value="true"<%= ' checked' if @flow.allow_meta %>>Handle metadata pings?</label>
    </div>
-->
    <div>
      <button type="submit">Update</button>
    </div>
    <div>
      [<a href="<%= @flow.id %>/delete">Remove</a>]
    </div>
  </form>
</div>

<script src="https://unpkg.com/codeflask/build/codeflask.min.js">
<script defer>
  import CodeFlask from 'codeflask';
  const flask = new CodeFlask('#editor', { language: 'liquid' });
</script>
