<div class="nav">
  <a href="../"><%= @site.domain %></a> | <b><a href="../config">Setup</a></b>
</div>

<h1><%= @flow.name %></h1>

<div>
  <%= Post.description_for_type(@flow.post_kind) %>
</div>

<div>
  <form action="/<%= @site.domain %>/flows" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="path_template" value="<%= @flow.path_template %>">
        <br>
        <small>
          <code>_posts/:year_month/:year-:month-:day-:slug.md</code>
        </small>
      </label>
    </div>
    <br>
    <div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="url_template" value="<%= @flow.url_template %>">
        <br>
        <small>
          <code>:year/:month/:day/:slug.html</code>
        </small>
      </label>
    </div>
    <br>
    <div>
      <label>
        Content template
        <textarea id="codemirror" name="content_template" cols="80" rows="25" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"><%= @flow.content_template %></textarea>
      </label>
      <br>
      Example:
      <small><pre>
---
date: {{date_time}}
slug: {{slug}}
categories:
- microblog
{{#categories}}
- {{.}}
{{/categories}}
---
{{{content}}}
</pre></small>
      Available {{variables}}:
      <ul>
      <% Post.variables_for_type(@flow.post_kind).each do |v, desc| %>
        <li title="<%= desc %>">{{<%= v %>}}</li>
      <% end %>
      </ul>
    </div>

    <h2>Attachments</h2>
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>">
        <br>
        <small>
          <code>assets/:year_month/:day-:slug.:extension</code>
        </small>
      </label>
    </div><div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>">
        <br>
        <small>
          <code>assets/:year_month/:day-:slug.:extension</code>
        </small>
      </label>
    </div>

<!--
    <h2>Webmentions</h2>
    <div>
      <label><input type="checkbox" name="allow_meta" value="true"<%= ' checked' if @flow.allow_meta %>>Handle metadata pings?</label>
    </div>
-->
    <div>
      <button type="submit">Update</button>
    </div>
    <div>
      [<a href="<%= @flow.id %>/delete">Remove</a>]
    </div>
  </form>
</div>

<link rel="stylesheet" href="/css/codemirror.css">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/overlay.js"></script>
<script src="/js/codemirror/markdown.js"></script>
<script>
  CodeMirror.defineMode("mustache", function(config, parserConfig) {
    var mustacheOverlay = {
      token: function(stream, state) {
        var ch;
        if (stream.match("{{")) {
          while ((ch = stream.next()) != null)
            if (ch == "}" && stream.next() == "}") {
              stream.eat("}");
              return "mustache";
            }
        }
        while (stream.next() != null && !stream.match("{{", false)) {}
        return null;
      }
    };
    return CodeMirror.overlayMode(CodeMirror.getMode(config, parserConfig.backdrop || "markdown"), mustacheOverlay);
  });

  var editor = CodeMirror.fromTextArea(document.getElementById("codemirror"), {mode: "mustache"});
</script>
