<div class="nav">
  <%= @site.domain %>: <a href="../">Status</a> | <b><a href="../config">Setup</a></b>
</div>

<h1><img src="/images/<%= @flow.post_kind %>.svg"><%= @flow.name %></h1>

<div>
  <%= Post.description_for_type(@flow.post_kind) %>
</div>

<div>
  <form action="/<%= @site.domain %>/flows" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="path_template" value="<%= @flow.path_template %>">
      </label>
      example: <code>_posts/:year_month/:year-:month-:day-:slug.md</code>
    </div>
    <br>
    <div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="url_template" value="<%= @flow.url_template %>">
      </label>
      example: <code>:year/:month/:day/:slug.html</code>
    </div>
    <br>
    <div>
      <label>
        Content template
        <textarea id="codemirror" name="content_template" cols="80" rows="25" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"><%= @flow.content_template %></textarea>
      </label>
      <div id="vars-desc">
        <%= @flow.post_kind %> variables: (hover for description)
      </div>
      <ul class="template-vars">
      <% Post.variables_for_type(@flow.post_kind).each do |v, desc| %>
        <li title="<%= desc %>"
            onclick="editor.replaceSelection('{{<%= v %>}}');"
            onmouseover="document.getElementById('vars-desc').innerHTML = '<%= v %> - <%=h desc %>';"
            onmouseout="document.getElementById('vars-desc').innerHTML = '<%= @flow.post_kind %> variables:';"
        ><%= v %></li>
      <% end %>
      </ul>

      example:
      <pre><code>---
date: {{date_time}}
slug: {{slug}}
categories:
- microblog
{{#categories}}
- {{.}}
{{/categories}}
---
{{{content}}}
</code></pre>
    </div>

    <h2><img src="/images/attachment.svg">Attachments</h2>
    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>">
      </label>
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>
    <br>
    <div>
      <label>
        URL template
        <input type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>">
      </label>
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>

    <br>

    <div class="float-right">
      <a href="../config" class="button button-clear">Cancel</a>
      <a href="<%= @flow.id %>/delete" class="button button-outline">Disable</a>
      <button type="submit" class="button">Update</button>
    </div>
  </form>
</div>

<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/overlay.js"></script>
<script src="/js/codemirror/markdown.js"></script>
<script>
  CodeMirror.defineMode("mustache", function(config, parserConfig) {
    var mustacheOverlay = {
      token: function(stream, state) {
        var ch;
        if (stream.match("{{")) {
          while ((ch = stream.next()) != null)
            if (ch == "}" && stream.next() == "}") {
              stream.eat("}");
              return "mustache cm-variable";
            }
        }
        while (stream.next() != null && !stream.match("{{", false)) {}
        return null;
      }
    };
    return CodeMirror.overlayMode(CodeMirror.getMode(config, parserConfig.backdrop || "markdown"), mustacheOverlay);
  });

  var editor = CodeMirror.fromTextArea(document.getElementById("codemirror"), {mode: "mustache"});
</script>
