<div class="nav">
  <%= @site.domain %>:
  <a href="/<%= @site.domain %>/">Status</a> |
  <a href="/<%= @site.domain %>/settings">Settings</a> |
  <a href="/<%= @site.domain %>/posting">Posting</a> |
  <a href="/<%= @site.domain %>/uploading"><b>Uploading</b></a>
</div>

<h1>
  <img src="/images/file.svg">
  Media Uploads
</h1>

<div>
  Files sent to your Sitewriter media endpoint will be saved with this configuration.
</div>

<div>
  <form action="/<%= @site.domain %>/flows/media" method="post">
    <input type="hidden" name="id" value="<%= @flow.id %>">

    <div>
      <label>
        Path template
        <br>
        <input type="text" size="80" name="media_path_template" value="<%= @flow.media_path_template %>" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      </label>
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>
    <br>
    <div>
      <label>
        URL template
        <br>
        <input type="text" size="80" name="media_url_template" value="<%= @flow.media_url_template %>" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      </label>
      example: <code>assets/:year_month/:day-:slug.:extension</code>
    </div>

    <div class="float-right">
      <a href="../config" class="button button-clear">Cancel</a>
      <button type="submit" class="button">Update</button>
    </div>
  </form>
</div>
