<% if session[:domain] %>

<h2>Welcome back!</h2>

<p>
  You're authenticated as <a href="/<%= session[:domain] %>"><%= session[:domain] %></a>
</p>
<form action="/logout" method="get">
  <button type="submit" class="button button-outline">Log out</button>
</form>

<% else %>

<h2>What is this?</h2>
<p>
  SiteWriter.net makes it easy to use <a href="https://indiewebify.me/">IndieWeb</a> services with your static site. It currently supports writing Micropub posts to GitHub repositories.
</p>
<p>
  To get started, enable IndieAuth on your domain. (<a href="https://indieauth.com/setup">IndieAuth.com</a> is a popular provider.) Then enter your domain here:
  <form action="https://indieauth.com/auth" method="get">
    <input type="text" name="me" placeholder="mydomain.com" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
    <input type="hidden" name="client_id" value="<%= "#{request.scheme}://#{ request.host_with_port }/" %>">
    <input type="hidden" name="redirect_uri" value="<%= "#{request.scheme}://#{ request.host_with_port }/login" %>">
    <button type="submit" class="button">Sign In</button>
  </form>
</p>
<p>
  <small>
    If you don't yet have a site, you can get started for free with <a href="http://jmcglone.com/guides/github-pages/">Jonathan McGlone's guide for GitHub pages</a>. We strongly suggest setting it up with a <a href="https://help.github.com/articles/quick-start-setting-up-a-custom-domain/">custom domain</a> of your own.
  </small>
</p>
<% end %>

<h2>Recent Activity</h2>

<table>
<colgroup>
  <col style="width: 5%">
  <col style="width: 15%">
  <col style="width: 35%">
  <col style="width: 35%">
</colgroup>
<% Site.all.map{|s| s.log.first}.select{|e| !e.nil?}.sort_by{|e| e[:started_at]}.first(5).each do |entry| %>
<tr class="post">
  <td>
  <% if entry[:kind] %>
    <img src="/images/<%= entry[:kind] %>.svg">
    <%= entry[:kind] %>
  <% end %>
  </td><td>
    <a href="<%= entry[:url] %>"><%= entry[:url] %></a>
  </td>
</tr>
<% end %>
</table>
