<h1><%= @site.domain %></h1>

<div>
  Make sure you have linked to your endpoint by including this tag in the <code>&lt;head&gt;</code> of your homepage:
  <pre>
    &lt;link href=&quot;http://test.sitewriter.net/<%= @site.domain %>/micropub&quot; rel=&quot;micropub&quot;&gt;
  </pre>
</div>

<div>
  Base URL: <a href="<%= @site.url %>"><%= @site.url %></a>
</div>

<h2>Destinations</h2>
<ul>
  <% @site.stores.each do |store| %>
  <li>
    <%= store.name %>
  </li>
  <% end %>
</ul>
<div>
  Add a new destination:
  <form action="/<%= @site.domain %>/stores" method="post">
    <select name="type_id">
      <% Store::TYPES.each do |id, name| %>
      <option value="<%= id %>"><%= name %></option>
      <% end %>
    </select>
    <input type="text" name="user" placeholder="username">
    <input type="text" name="location" placeholder="repository">
    <input type="text" name="key" placeholder="access key">
    <button type="submit">Add</button>
  </form>
</div>

<% if @site.stores.count > 0 %>
  <h2>Post Types</h2>
  <table>
    <%
      @flows.each do |flow_hash|
        post_kind = flow_hash[:kind]
        flow = flow_hash[:flow]
    %>
    <tr>
      <th>
        <%= post_kind %>
      </th><td>
        <% if flow %>
          saves to <%= flow.store.name %>
          [<a href="flows/<%= flow.id %>">edit</a>]
        <% else %>
          [<a href="flows/new?post_kind=<%= post_kind %>">configure</a>]
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @site.log.count > 0 %>
  <h2>Recent requests</h2>
  <table>
  <% @site.log.each do |entry| %>
    <tr>
      <th>
        <%= entry[:started_at].strftime('%Y-%m-%d %H:%M:%S') %>
      </th><td>
        <%= entry[:kind] %>
      </td><td>
        <a href="<%= entry[:url] %>"><%= entry[:url] %></a>
      </td><td>
        <%= entry[:status_code] %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
