<div class="nav">
  <%= @site.domain %>:
  <a href="/<%= @site.domain %>/">Status</a> |
  <a href="/<%= @site.domain %>/settings">Settings</a> |
  <b>Posting</b> |
  <a href="/<%= @site.domain %>/uploading">Uploading</a>
</div>

<h2>Micropub Posts</h2>
<% if @site.default_store.nil? %>s
  <div class="warning">
    No saving destination! Please [<a href="stores/new">set one up</a>] now.
  </div>
<% else %>
  <div>
    Posts save to <%= @site.default_store.name %>. [<a href="stores/<%= @site.default_store.id %>">edit</a>]
  </div>

  <table class="site-types">
    <%
      @flows.each do |flow_hash|
        post_kind = flow_hash[:kind]
        flow = flow_hash[:flow]
    %>
    <tr>
      <th class="icon">
        <img src="/images/<%= post_kind %>.svg">
      </th>
      <th>
        <%= post_kind.capitalize %>
      </th>
      <% if flow %>
        <td>
          file template: <code><%= flow.path_template %></code>
          <br>
          url template: <code><%= flow.url_template %></code>
        </td><td>
          <a href="flows/<%= flow.id %>" class="button button-outline">Edit</a>
        </td>
      <% else %>
        <td>
          <a href="flows/new?post_kind=<%= post_kind %>" class="button button-outline">Enable</a>
        </td><td>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
