<div class="nav">
  <%= @site.domain %>: <b>Status</b> | <a href="config">Setup</a>
</div>

<h2>Status</h2>
<div>
  Base URL: <a href="<%= @site.url %>"><%= @site.url %></a>
</div>

<% if @site.default_store.nil? %>
  <div class="warning">
    No saving destination! Please <a href="stores/new">set one up</a> now.
  </div>
<% elsif @site.flows.count == 0 %>
  <div class="warning">
    No post types configured! Please <a href="config">set some up</a> now.
  </div>
<% else %>
  <div>
    Ready for post types: <%= @site.flows.map{|f| f.name }.join(', ') %>
  </div>
<% end %>

<h2>Settings</h2>
<div>
<form action="/<%= @site.domain %>/" method="POST">
  <label>
    Default Timezone
    <select name="timezone">
      <% TZInfo::Timezone.all_data_zones.each do |tz| %>
      <option value="<%= tz.name %>"<%= " selected" if tz.name == @site.timezone %>><%= tz.to_s %></option>
      <% end %>
    </select>
  </label>
  <div class="float-right">
    <a href="." class="button button-clear">Cancel</a>
    <button type="submit" class="button">Update</button>
  </div>
</form>
</div>

<h2>Recent Activity</h2>
<% if @site.log.count == 0 %>
  <div>
    No posts yet. Make sure you have linked to your endpoint by including this tag in the <code>&lt;head&gt;</code> of your homepage:
    <pre><code>&lt;link href=&quot;<%= "#{request.scheme}://#{request.host_with_port}/#{@site.domain}/micropub" %>&quot; rel=&quot;micropub&quot;&gt;</code></pre>
  </div>
<% else %>
  <table>
  <% @site.log.each do |entry| %>
    <tr class="<% entry[:url] ? 'post' : 'error' %>">
      <th>
        <%= entry[:started_at].strftime('%Y-%m-%d %H:%M:%S') %>
      </th><td>
        <% if entry[:kind] %>
          <img src="/images/<%= entry[:kind] %>.svg">
          <%= entry[:kind] %>
        <% end %>
      </td><td>
        <% if entry[:url] %>
          <a href="<%= entry[:url] %>"><%= entry[:url] %></a>
        <% else %>
          <span title="<%= entry[:error]['error_description'] %>"><code><%= entry[:error]['error'] %></code> error</span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
