<div class="nav">
  <b><%= @site.domain %></b> | <a href="config">Setup</a>
</div>

<h2>Status</h2>
<div>
  Base URL: <a href="<%= @site.url %>"><%= @site.url %></a>
</div>

<% if @site.default_store.nil? %>
  <div class="warning">
    No saving destination! Please <a href="stores/new">set one up</a> now.
  </div>
<% elsif @site.flows.count == 0 %>
  <div class="warning">
    No post types configured! Please <a href="config">set some up</a> now.
  </div>
<% else %>
  <div>
    Ready for post types: <%= @site.flows.map{|f| f.name }.join(', ') %>
  </div>
<% end %>

<h2>Recent Activity</h2>
<% if @site.log.count == 0 %>
  <div>
    No posts yet. Make sure you have linked to your endpoint by including this tag in the <code>&lt;head&gt;</code> of your homepage:
    <pre>
      &lt;link href=&quot;<%= "#{request.scheme}://#{request.host_with_port}/#{@site.domain}/micropub" %>&quot; rel=&quot;micropub&quot;&gt;
    </pre>
  </div>
<% else %>
  <table>
  <% @site.log.each do |entry| %>
    <tr>
      <th>
        <%= entry[:started_at].strftime('%Y-%m-%d %H:%M:%S') %>:
        [<%= entry[:status_code] %>]
      </th><td>
        <%= entry[:kind] %>
      </td><td>
        <% if entry[:url] %>
          <a href="<%= entry[:url] %>"><%= entry[:url] %></a>
        <% else %>
          <span title="<%= entry[:error]['error_description'] %>">error: <code><%= entry[:error]['error'] %></code></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
