<div class="nav">
  <%= @site.domain %>: <a href="./">Status</a> | <b>Setup</b>
</div>

<h2>Micropub Posts</h2>
<% if @site.default_store.nil? %>
  <div class="warning">
    No saving destination! Please <a href="stores/new">set one up</a> now.
  </div>
<% else %>
  <div>
    Posts save to <%= @site.default_store.name %>
  </div>

  <table class="site-types">
    <%
      @flows.each do |flow_hash|
        post_kind = flow_hash[:kind]
        flow = flow_hash[:flow]
    %>
    <tr>
      <th class="icon">
        <img src="/images/<%= post_kind %>.svg">
      </th>
      <th>
        <%= post_kind.capitalize %>
      </th>
      <% if flow %>
        <td>
          file template: <code><%= flow.path_template %></code>
          <br>
          url template: <code><%= flow.url_template %></code>
        </td><td>
          <a href="flows/<%= flow.id %>" class="button button-outline">Edit</a>
        </td>
      <% else %>
        <td>
          <a href="flows/new?post_kind=<%= post_kind %>" class="button button-outline">Enable</a>
        </td><td>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <h2>Media Endpoint</h2>

  <% if @site.file_flow.nil? || @site.file_flow.media_store.nil? %>
    <div class="warning">
      No file saving destination! Please <a href="flows/media">set one up</a> now.
    </div>
  <% else %>
    <div>
      Files Save To <%= @site.file_flow.media_store.name %>
    </div>

    <table class="site-types">
      <tr>
        <th class="icon">
          <img src="/images/file.svg">
        </th>
        <th>
          Direct Files
        </th>
        <td>
          path template: <code><%= @site.file_flow.media_path_template %></code>
          <br>
          url template: <code><%= @site.file_flow.media_url_template %></code>
        </td><td>
          <a href="flows/media" class="button button-outline">Edit</a>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
